footer{
   .nav-row{
      padding: 14px 0;
      background-color: $offwhite-1-rgba;
      a{
         margin-bottom: 0;
         font-family: 'whitney-bold';
         font-size: 1.4rem;
         text-transform: uppercase;
         color: $primary-red;
         letter-spacing: 0.8px;
         transition: color 0.5s ease-in-out;
         margin-right: 31px;
         &.newsletter{
            color: $nav-brown;
         }
         &:hover{
            text-decoration: none;
            color: $primary-orange;
         }
      }
      .search-field{
         display: inline-block;
         // max-width: 140px;
         width: 0;
         // height: 20px;
         opacity: 0;
         float: right;
         border-bottom: 2px solid $nav-brown;
         transition: all 0.2s ease-in-out;
         white-space: nowrap;
         input[type="text"]{
            width: 90%;
            background: transparent;
            border: 0;
            height: 20px;
         }
         a.submit{
            display: none;
            margin: 0;
            &.show{
               display: inline-block;
            }
         }
         svg{
            height: 15px;
            width: auto;
            // max-width: 10%;
         }
         &.open{
            width: 90%;
            opacity: 1;
         }
      }
   }
   .footer-nav{
      ul{
         list-style-type:none;
         margin:0;
         li{
            display: inline-block;
            margin:0;
            margin-right:30px;
         }
      }
      //display: inline-block;
   }
   .copy-row{
      padding: 14px 0;
      background-color: $offwhite-1;
      p, a{
         margin-bottom: 0;
      }
      .copy{
         display: inline-block;
         font-family: 'whitney-bold';
         font-size: 1.2rem;
         letter-spacing: 2px;
         color: $nav-brown;
         text-transform: uppercase;
      }
      .byline{
         display: inline-block;
         float: right;
         font-family: 'whitney-bold';
         font-size: 1.2rem;
         letter-spacing: 2px;
         color: $nav-brown;
         text-transform: uppercase;
         a{
            font-family: 'whitney-light';
            color: $nav-brown;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
         }
      }
   }
   #search{
      float: right;
      width: 20px;
      height: auto;
      cursor: pointer;
   }
}
