footer{
   .nav-row{
      background-color: $offwhite-1-rgba;
      a{
         margin-bottom: 0;
         font-family: 'whitney-bold';
         font-size: 1.4rem;
         text-transform: uppercase;
         color: $primary-red;
         letter-spacing: 0.8px;
         transition: color 0.15s ease-in-out;
         margin-right: 31px;
         &:hover{
            text-decoration: none;
            color: $primary-orange;
         }
      }
   }
   .copy-row{
      background-color: $offwhite-1;
   }
   #search{
      float: right;
      width: 20px;
      height: auto;
   }
}
