header{
   position: fixed;
   top: 0;
   width: 100%;
   left: 0;
   right: 0;
   z-index: 9999;
   a[rel="home"]{
      transition: opacity 0.5s ease-in-out;
      &:hover{
         opacity: 0.5;
      }
   }
}

main#content{
   //margin-top: 115px;
}

.main-navigation, .secondary-navigation{
   display: inline-block;
   -webkit-display: flex;
   -moz-display: flex;
   -ms-display: flex;
   -o-display: flex;
   display: flex;
   -webkit-align-items: center;
   -moz-align-items: center;
   -ms-align-items: center;
   -o-align-items: center;
   align-items: center;
   height: 85px;
   ul{
      display: inline-block;
      margin-bottom: 0;
      li{
         display: inline-block;
         margin-bottom: 0;
         a{
            font-family: 'bianco-reg';
            font-size: 1.7rem;
            color: $nav-brown;
            transition: color 0.15s ease-in-out;
            margin-right: 35px;
            &:hover{
               text-decoration: none;
               color: $primary-orange;
            }
         }
      }
   }
}

.main-navigation{
   float: left;
   @media screen and ($bp-smaller-than-desktophd){
      display: none;
   }
}

.secondary-navigation{
   float: right;
   -webkit-justify-content: flex-end;
   -moz-justify-content: flex-end;
   -ms-justify-content: flex-end;
   -o-justify-content: flex-end;
   justify-content: flex-end;
   ul{
      &.menu{
         @media screen and ($bp-smaller-than-desktophd){
            display: none;
         }
      }
      li{
         position: relative;
         margin-right: 35px;
         a{
            margin: 0;
            // border-bottom: 3px solid $primary-lightbrown;
            font-family: 'whitney-book';
            font-size: 1.7rem;
            letter-spacing: 0.66px;
            display: inline-block;
            &::after{
               content: '';
               position: absolute;
               bottom: -4px;
               height: 3px;
               width: 60%;
               background-color: $primary-lightbrown;
               left: 50%;
               transform: translateX(-50%);
            }
         }
      }
   }
}

#mobileMenuTrigger{
   cursor: pointer;
   transition: opacity 0.5s ease-in-out;
   display: none;
   &:hover{
      opacity: 0.5;
   }
   @media screen and ($bp-smaller-than-desktophd){
      display: inline-block;
   }
}

svg.menu-icon{
   height: 20px;
   width: auto;
}

.socials{
   display: inline-block;
   a{
      color: $primary-red;
      margin-right: 10px;
      transition: opacity 0.5s ease-in-out;
      &:hover{
         opacity: 0.5;
      }
   }
}

header .socials{
   @media screen and ($bp-smaller-than-desktophd){
      display: none;
   }
}

.top-nav{
   // padding: 20px 0;
   background-color: $offwhite-1;
   position: relative;
   height: 85px;
   @media screen and ($bp-smaller-than-largedesktop){
      padding: 0 20px;
   }
   .main-logo{
      float: left;
      height: 59px;
      width: auto;
      margin-top: 10px;
      margin-right: 20px;
   }
}

.ticker{
   // height: 30px;
   background-color: $ticker-green;
   padding: 10px 0;
   @media screen and ($bp-smaller-than-largedesktop){
      padding: 10px;
   }
   .ticker-row{
      position: relative;
   }
   a{
      *{
         transition: opacity 0.5s ease-in-out;
      }
         &:hover,
         &:active,
         &:focus{
            text-decoration:none;
            *{
               opacity:.5;
            }

         }
      }
   p{
      font-family: 'bianco-reg';
      font-size: 1.4rem;
      color: $offwhite-3;
      margin:0;
      line-height: 18px;
      strong, b{
         font-family: 'bianco-extrabold';
      }

   }
   .text{
      // float: left;
      // line-height: 30px;
      max-width: 1230px;
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: 1250px){
         padding-left: 20px;
         padding-right: 20px;
      }
   }
   .ticker-title{
      font-family: 'bianco-extrabold';
   }
   .close{
      // float: right;
      height: 30px;
      // padding: 7px 0;
      position: absolute;
      top: 0;
      right: 0;
      svg{
         height: 14px;
         width: auto;
      }
   }
}

//Sidr
body .sidr{
   position: fixed;
   z-index: 999;
   top: 0;
   padding-top: 150px;
   width: 100%;
   background: $offwhite-1;
   text-align: center;
   @media screen and ($bp-smaller-than-tablet){
      padding-top: 250px;
   }
   ul#menu-main_nav{
      border-top: 0px;
      border-bottom: 0px;
      li{
         border-top: 0px;
         border-bottom: 0px;
         list-style-type: none;
         &:hover{
            > a{
               box-shadow: 0px;
            }
         }
         a{
            font-family: 'bianco-reg';
            font-size: 1.8rem;
            letter-spacing: 0.7px;
            color: $nav-brown;
            transition: opacity 0.5s ease-in-out;
            &::after{
               display: none;
            }
            &:hover{
               opacity: 0.5;
               text-decoration: none;
            }
         }
      }
   }
   li.menu-item{
      list-style-type: none;
      a{
         margin: 0;
         // border-bottom: 3px solid $primary-lightbrown;
         font-family: 'whitney-book';
         font-size: 1.7rem;
         letter-spacing: 0.66px;
         display: inline-block;
         color: $nav-brown;
         position: relative;
         transition: opacity 0.5s ease-in-out;
         &:hover{
            text-decoration: none;
            opacity: 0.5;
         }
         &::after{
            content: '';
            position: absolute;
            bottom: -4px;
            height: 3px;
            width: 60%;
            background-color: $primary-lightbrown;
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }
}

// body .sidr-class-socials{
//    display: inline-block;
//    a{
//       color: $primary-red;
//       margin-right: 10px;
//       transition: opacity 0.5s ease-in-out;
//       &:hover{
//          opacity: 0.5;
//       }
//    }
// }

body .sidr.right{
   right: -100%;
}

.sidr-inner{
   &:nth-of-type(3){
      margin-top: 5vh;
      a{
         color: $primary-red;
         margin: 0 4px;
      }
   }
   &:nth-of-type(1){
      margin-bottom: 10vh;
   }
}
