header{
   position: fixed;
   top: 0;
   width: 100%;
   left: 0;
   right: 0;
   z-index: 999;
}

main#content{
   margin-top: 115px;
}

.main-navigation, .secondary-navigation{
   display: inline-block;
   -webkit-display: flex;
   -moz-display: flex;
   -ms-display: flex;
   -o-display: flex;
   display: flex;
   -webkit-align-items: center;
   -moz-align-items: center;
   -ms-align-items: center;
   -o-align-items: center;
   align-items: center;
   height: 85px;
   ul{
      display: inline-block;
      margin-bottom: 0;
      li{
         display: inline-block;
         margin-bottom: 0;
         a{
            font-family: 'bianco-reg';
            font-size: 1.7rem;
            color: $nav-brown;
            transition: color 0.15s ease-in-out;
            margin-right: 35px;
            &:hover{
               text-decoration: none;
               color: $primary-orange;
            }
         }
      }
   }
}

.main-navigation{
   float: left;
}

.secondary-navigation{
   float: right;
   -webkit-justify-content: flex-end;
   -moz-justify-content: flex-end;
   -ms-justify-content: flex-end;
   -o-justify-content: flex-end;
   justify-content: flex-end;
   ul{
      li{
         position: relative;
         margin-right: 35px;
         a{
            margin: 0;
            // border-bottom: 3px solid $primary-lightbrown;
            &::after{
               content: '';
               position: absolute;
               bottom: -4px;
               height: 3px;
               width: 60%;
               background-color: $primary-lightbrown;
               left: 50%;
               transform: translateX(-50%);
            }
         }
      }
   }
}

.socials{
   display: inline-block;
   a{
      color: $primary-red;
      margin-right: 10px;
   }
}

.top-nav{
   // padding: 20px 0;
   background-color: $offwhite-1;
   position: relative;
   height: 85px;
   .main-logo{
      float: left;
      height: 59px;
      width: auto;
      margin-top: 10px;
      margin-right: 20px;
   }
}

.ticker{
   height: 30px;
   background-color: $ticker-green;
   p{
      font-family: 'bianco-reg';
      font-size: 1.4rem;
      color: $offwhite-3;
   }
   .text{
      float: left;
      line-height: 30px;
      margin: 0;
   }
   .ticker-title{
      font-family: 'bianco-extrabold';
   }
   .close{
      float: right;
      height: 30px;
      padding: 7px 0;
      svg{
         height: 14px;
         width: auto;
      }
   }
}
