//Global helpers
.has-background{
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

body{
   overflow-x: hidden;
}

//Homepage styles
.welcome-gate{
   height: 100vh;
   width: 100%;
   position:relative;
   display:table;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow:hidden;
   //margin-top:115px;
   //padding-top: 220px;

    &.interior{
      height: 675px;
      padding-top: 165px;
      position: relative;
      @media screen and ($bp-smaller-than-tablet){
         padding-top: 200px;
      }
      .top-callout{
         color: $offwhite-1;
         @include whitney-bold();
         font-size: 2rem;
         letter-spacing: 3px;
         text-transform: uppercase;
      }
      &::after{
         content: '';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         opacity: 0.2;
         background-color: $black;
      }
   }

   .banner-text{
      position:relative;
      z-index:600;
      @media screen and ($bp-smaller-than-tablet){
         padding-left: 40px;
         padding-right: 40px;
      }
   }
   .welcome-gate-bg{
      position:relative;
      top:0;
      bottom:0;
      width:100%;
      height:100%;
      position:absolute;
      z-index:100;
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center center;
   }

   video{
      // position:absolute;
      // object-fit: cover;

      // z-index:400;
      // top:0;
      // bottom:0;
      // right:0;
      // left:0;
      // width:100%;
      // height:100vh;

    //   max-width: none;
    // top: 50%;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // position: relative;
    // min-width: 100%;
    // min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 300;
    //height: auto;
    min-height: 100%;
    min-width: 100%;
    //background: black;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
   }

   .pane{
      display:table-cell;
      width:100%;
      height:100%;
      vertical-align:middle;
      position:relative;
      z-index:500;
         img{
         display: block;
         width: 600px;
         height: auto;
         margin: 0 auto;
         position:relative;
         z-index:500;
         @media ($bp-smaller-than-mobile){
            width:80%;
         }
         @media screen and ($bp-smaller-than-desktop){
            margin-top: 100px;
         }
      }
   }

}
// .welcome-gate{
//    height: calc(100vh - 115px);
//    width: 100%;
//    background-size: cover;
//    background-position: center;
//    background-repeat: no-repeat;
//    padding-top: 30vh;
//    &.interior{
//       height: 564px;
//       padding-top: 55px;
//       .top-callout{
//          color: $offwhite-1;
//          @include whitney-bold();
//          font-size: 2rem;
//          letter-spacing: 3px;
//       }
//    }
//    img{
//       display: block;
//       width: 450px;
//       height: auto;
//       margin: 0 auto;
//    }
// }

//Panels
.panel{
   padding: 40px 0;
   @media screen and ($bp-smaller-than-largedesktop){
      padding-left: 20px;
      padding-right: 20px;
   }
   &.callout{
      background-color: $offwhite-3;
      text-align: center;
      position:relative;
      z-index:500;
      padding-bottom: 100px;
      @media screen and ($bp-smaller-than-tablet){
         padding-bottom: 60px;
      }
       .intro{
         max-width: 933px;
         margin: 0 auto;
         margin-bottom: 20px;
         @media screen and ($bp-smaller-than-tablet){
            margin-bottom: 40px;
         }
         p{
            font-family: 'bianco-reg';
            color: $tertiary-grey;
            font-size: 1.8rem;
            letter-spacing: 0.5px;
            line-height: 30px;
            strong,b{
               font-family: 'bianco-extrabold';
            }
         }
      }
      .intro-callout{
         margin-bottom: 120px;
         @media screen and ($bp-smaller-than-tablet){
            margin-bottom: 60px;
         }
         p{
            @include whitney-book();
            font-size: 4.8rem;
            line-height: 60px;
            letter-spacing: 0.6px;
            color: $primary-lightbrown;
            strong,b{
               font-weight:normal;
               color:$primary-orange;
            }
         }
      }
      .heading1{
         color: $primary-lightbrown;
      }
      &.interior{
         background-color: $tertiary-background;
         padding-top: 80px;
         .intro{
            max-width: 1050px;
            p{
            font-size: 2.6rem;
            letter-spacing: 0.6px;
            line-height: 38px;
            color: $primary-red;
            //color:$black;
            strong, b{

            }
            }
         }
         .heading6{
            max-width: 885px;
            margin: 0 auto;
            p{
               @include whitney-bold();
               font-size: 1.4rem;
               line-height: 30px;
               letter-spacing: 3px;
               text-transform: uppercase;
               color: $primary-orange;
            }
         }
      }
   }
   &.map{
      background-color: $offwhite-3;
      text-align: center;
      .heading6{
         color: $primary-orange;
      }
      img{
         display: block;
         max-width: 1087px;
         height: auto;
         margin: 0 auto;
      }
   }
   &.text-grid{
      background-color: $secondary-pink;
      padding-top: 60px;
      padding-bottom: 60px;
      .container{
         // @media ($bp-smaller-than-largedesktop){
         //    padding:0 40px;
         // }
         // @media ($bp-smaller-than-mobile){
         //    padding:0 20px;
         // }
      }
      &.interior{
         background-color: $tertiary-background;
      }
      .heading6{
         color: $primary-orange;
         margin-bottom: 20px;
      }
      .desc{
         display: inline;
         font-family: 'bianco-reg';
         font-size: 2.4rem;
         color: $nav-brown;
         // letter-spacing: 0.82px;
      }
      .columns-4:first-of-type{
         .grid-item{
            margin: 0;
            @media screen and ($bp-smaller-than-tablet){
               margin-bottom: 40px;
            }
         }
      }
      .grid-item{
         max-width: 280px;
         //padding:0 2%;
         margin: 0 auto;
         @media screen and ($bp-smaller-than-tablet){
            margin-bottom: 40px;
            max-width: none;
         }
         // @media ($bp-larger-than-desktop){
         //    max-width:280px;
         // }
         // @media ($bp-smaller-than-largedesktop){
         //    padding-left:40px;
         // }
         // @media ($bp-smaller-than-mobile){
         //    padding-left:20px;
         // }
         //width:80%;
         //margin: 0 auto;
         svg{
            display: inline-block;
            height: 18px;
            width: auto;
         }
         a{
            transition: opacity 0.5s ease-in-out;
            &:hover,
            &:focus,
            &:active{
               text-decoration:none;
               opacity:.5;
            }
         }
      }
   }
   &.feature{
      padding-top: 0;
      // padding-left: 40px;
      // padding-right: 40px;
      position: relative;
      z-index:2;
      &::before{
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         right: 0;
         width: 100%;
         width: 100vw;
         background-color: $secondary-pink;
         height: 100px;
         z-index: -2;
      }
      img{
         max-width: 100%;
      }
      a{
         transition: opacity 0.5s ease-in-out;
         &:hover{
            text-decoration: none;
            opacity: 0.5;
         }
      }
      .container{
         // @media ($bp-smaller-than-largedesktop){
         //    padding:0 40px;
         // }
         @media ($bp-smaller-than-mobile){
            padding:0 20px;
         }
         // @media ($bp-larger-than-tablet){
         //    padding:0;
         // }
      }
      .content{
         position: relative;
         padding:0 40px;
         @media ($bp-smaller-than-tablet){
            padding:0;
         }
      }
      .feature-image{
         width: 100%;
         height: auto;
         min-height:600px;
         //padding-right: 40px;
         //padding-left: 40px;
      }
      .intro-wrap{
         position: relative;
      }
      .intro{
         position: absolute;
         top: 150px;
         z-index: 999;
         // width:25%;
         @media screen and ($bp-smaller-than-desktop){
            top: 50px;
         }
         @media screen and ($bp-smaller-than-tablet){
            padding-left: 20px;
         }
         // @media ($bp-smaller-than-largedesktop){
         //    padding-left:40px;
         //    width:33.3333%;
         // }
         // @media ($bp-smaller-than-tablet){
         //    width:60%;
         // }
         // @media ($bp-smaller-than-mobile){
         //    width:80%;
         //    padding-left:20px;
         // }
         .title{
            @include whitney-bold();
            text-transform: uppercase;
            line-height: 29px;
            color: $offwhite-1;
         }
         .desc{
            display: inline;
            font-family: 'bianco-reg';
            font-size: 2rem;
            letter-spacing: 0.6px;
            line-height: 32px;
            color: $offwhite-1;
         }
         svg{
            display: inline;
            height: 18px;
            width: auto;
         }
      }
      .feature-image{
         // position: absolute;
         // top: 0;
         // left: 40px;
         // right: 40px;
         // height: auto;
         // z-index: -1;
      }
   }
   &.offset-text{
      background-color: $tertiary-background;
      .heading2{
         //font-family: 'whitney-light';
         //color: $nav-brown;
         p{
            @include whitney-light();
            font-size: 3.6rem;
            line-height: 48px;
            letter-spacing: 0.6px;
            color: $nav-brown;
         }
      }
      .desc-col{
         p{
            color: $nav-brown;
         }
         strong{
            font-family: 'bianco-extrabold';
         }
      }
   }
   &.img-and-wysiwyg{
      background-color: $tertiary-background;
      .textsection{
         h1,h2,h3,h4,h5,h6,ul,ol,li{
            color: $primary-red;
            @include whitney-book();
         }

         p{
            font-family: 'bianco-reg';
            color: $primary-red;
         }

         h1{
            margin-bottom:2rem;
         }

         h6{
            text-transform:none;
            margin-top: 0;
            margin-bottom: 14px;
            strong{
               @include whitney-bold();
               text-transform:uppercase;
            }
         }
      }
      img{
         width: 100%;
         height: auto;
         margin: 0;
         @media ($bp-smaller-than-tablet){
            margin:2em auto;
         }
      }
   }
   &.half-img-callout{
      background-color: $tertiary-background;
      overflow: hidden;
      img{
         width: 100%;
         height: auto;
      }
      .callout-half{
         color: $primary-orange;
         max-width: 300px;
         position: relative;
         @media ($bp-smaller-than-tablet){
            margin:2em auto;
            padding-bottom:4em;
         }
         a{
            text-decoration: none;
            display: inline;
            transition: opacity 0.5s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
         }
         img{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            height: 340px;
            // width: auto;
            @media ($bp-smaller-than-tablet){
               // position:relative;
               // margin:0 auto;
               top:2em;
            }
         }
      }
      .desc{
         z-index: 1;
         position: relative;
         @include whitney-bold();
         letter-spacing: 0.6px;
         line-height: 40px;
         font-size: 3.6rem;
         color: $primary-orange;
      }
      .cta{
         z-index: 1;
         position:relative;
         p{
            display: inline;
            @include whitney-bold();
            color: $primary-orange;
            font-size: 1.4rem;
            letter-spacing: 3px;
            text-transform: uppercase;
         }
         svg{
            display: inline;
            height: 18px;
            width: auto;
         }
      }
   }
   &.story{
      background-color: $offwhite-1;
      img{
         width: 100%;
         height: auto;
         margin-bottom: 10px;
      }
      .caption{
         color: $nav-brown;
         @include whitney-book();
         font-size: 2.4rem;
         letter-spacing: 1.23px;
         line-height: 34px;
      }
      .wysiwyg-section{
         padding-left: 37px;
         @media screen and ($bp-smaller-than-tablet){
            padding-left: 0;
         }
      }
   }
   &.statistic{
      background-color: $tertiary-background;
      position: relative;
      .row{
         position: relative;
      }
      .content{
         position: relative;
         padding:0 40px;
         @media ($bp-smaller-than-tablet){
            padding:0;
         }
      }
      .feature-image{
         width: 100%;
         height: auto;
         min-height:600px;
         //padding-right: 40px;
         //padding-left: 40px;
      }
      .img-screen{
         background-color: $offwhite-1;
         opacity: 0.2;
         @media screen and ($bp-smaller-than-tablet){
            opacity: 0.5;
            left: 0;
            right: 0;
         }
      }
      .stats{
         position: absolute;
         top: 90px;
         z-index: 999;
         @media screen and ($bp-smaller-than-desktop){
            top: 20px;
            padding-left: 20px;
         }
         .title{
            @include whitney-bold();
            font-size: 2rem;
            letter-spacing: 2.96px;
            // line-height: 29px;
            color: $primary-darkbrown;
         }
         .desc{
            color: $primary-darkbrown;
            letter-spacing: 0.82px;
            line-height: 32px;
         }
      }
      .stat-visual{
         width: 100%;
         // padding-top: 40px;
         padding-left: 40px;
         padding-right: 40px;
         @media screen and ($bp-smaller-than-desktop){
            padding-left: 0;
            padding-right: 0;
         }
      }
   }
   &.photo-essay{
      background-color: $tertiary-background;
      .text-section{
         padding-right: 37px;
         p,.desc{
            color: $primary-red;
         }
         .heading6{
            color: $primary-orange;
         }
      }
      .thumbnails{
         margin-top: 10px;
         img{
            width: 100%;
            height: auto;
         }
      }
      .img-section{
         .feature{
            width: 100%;
            height: auto;
         }
      }
   }
   &.icon-grid{
      background-color: $tertiary-background;
      .card{
         overflow: hidden;
         @media($bp-smaller-than-tablet){
            text-align:center;
         }
         a{
            text-decoration: none;
            &:hover{
               text-decoration: none;
               p{
                  opacity: 0.5;
               }
            }
            p{
               text-decoration: none;
               transition: opacity 0.5s ease-in-out;
               &::after{
                  content: '';
                  display: inline-block;
                  height: 14px;
                  width: 9px;
                  background-image: url('img/arrow-right.svg');
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  margin-left: 6px;
               }
            }
         }
      }
      .grid-cols{
         @media screen and ($bp-smaller-than-desktop){
            margin-left: 0;
            width: 100%;
         }
      }
      .card-icon{
         height: 215px;
         width: auto;
      }
      .divider{
         width: 34px;
         height: 10px;
         background-color: $primary-orange;
         margin: 14px 0;
         @media screen and ($bp-smaller-than-tablet){
            display: inline-block;
         }
      }
      .caption{
         p,a{
            @include whitney-book();
            font-size: 2rem;
            letter-spacing: 0.6px;
            line-height: 26px;
            width:60%;
            text-decoration: none;
            color: $nav-brown;
            @media screen and ($bp-smaller-than-tablet){
               display: block;
               width: 100%;
            }
         }
         a{
            transition: opacity 0.5s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
         }
      }
   }
   &.half-cta{
      padding-top: 60px;
      padding-bottom: 60px;
      // [class*='columns-']:last-of-type{
      //    padding-right:15px;
      // }
      .cta{
         margin-bottom: 40px;
         &:last-of-type{
            margin-bottom: 0;
         }
         a{
            transition: opacity 0.5s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
            p{
               @include whitney-bold();
               font-size: 3.6rem;
               letter-spacing: 0.6px;
               line-height: 48px;
               color: $primary-pink;
               display: inline;
               color: $primary-pink;
            }
            svg{
               display: inline;
               height: 18px;
               width: auto;
            }
         }
      }
   }
   &.filters{
      position: relative;
      z-index: 999;
      background-color: $offwhite-3;
      padding: 30px 0 20px 0;
      ul{
         margin-bottom: 0;
         li{
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
            &.filter{
               p{
                  color: $primary-orange;
               }
            }
            p{
               display: inline;
               margin-bottom: 0;
               @include whitney-bold();
               text-transform: uppercase;
               font-size: 1.4rem;
               letter-spacing: 3px;
               color: $primary-lightbrown;
            }
            svg{
               display: inline;
               width: 16px;
               height: auto;
               transform: rotate(90deg);
            }
         }
      }
   }
   &.events{
      background-color: $offwhite-3;
      .event-columns-1{
         width: 20%;
         min-height: 1px;
         img{
            width: 100%;
            height: auto;
         }
      }
      .event-columns-4{
         width: 80%;
         .title{
            @include whitney-bold();
            font-size: 3.6rem;
            letter-spacing: 0.6px;
            line-height: 48px;
            color: $nav-brown;
         }
         .tags{
            @include whitney-book();
            line-height: 20px;
            font-size:1.4rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 20px;
         }
         .excerpt{
            font-family: 'bianco-reg';
            font-size: 1.6rem;
            letter-spacing: 0.6px;
            line-height: 26px;
         }
         a{
            display: inline;
            margin-bottom: 0;
            @include whitney-bold();
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 3px;
            color:$primary-orange;
            transition: opacity 0.5s ease-in-out;
             svg{
               width:15px;
               height:auto;
               display: inline-block;
               margin-top: -3px;
               vertical-align: middle;
             }

             &:hover,
             &:focus,
             &:active{
               opacity:.5;
               text-decoration:none;
             }
         }
      }
      [class*="event-columns-"]{
         float: left;
         padding-right: $pad;

         .row &:last-of-type {
            padding-right: 0;
         }

         @media($bp-smaller-than-tablet) {
             width: 100%;
             padding: 0;

         }
      }
   }
   &.blog-title{
      padding-top: 150px;
      padding-bottom: 50px;
      h1{
         @include whitney-bold();
         color: $primary-red;
         font-size: 4.8rem;
         letter-spacing: 3px;
         // max-width: 80%;
         margin: 0 auto;
         text-align: center;
      }
   }
   &.topics{
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $offwhite-1;
      display: none;
      &.events{
         text-align: left;
      }
      ul{
         margin-bottom: 0;
         li{
            margin-bottom: 0;
            @include whitney-bold();
            font-size: 1.4rem;
            letter-spacing: 3px;
            color: $primary-darkbrown;
            margin-left: 65px;
            text-transform: uppercase;
         }
      }
   }
   &.locations{
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $offwhite-1;
      display: none;
      &.events{
         text-align: left;
      }
      ul{
         margin-bottom: 0;
         li{
            margin-bottom: 0;
            @include whitney-bold();
            font-size: 1.4rem;
            letter-spacing: 3px;
            color: $primary-darkbrown;
            margin-left: 65px;
            text-transform: uppercase;
         }
      }
   }
   &.search-filter{
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $offwhite-1;
      display: none;
      &.event-search{
         .search-wrap{
            text-align: left;
         }
      }
      .search-field{
         width: 25%;
         opacity: 1;
         @media screen and ($bp-smaller-than-tablet){
            width: 100%;
         }
         input[type="text"]{
            text-transform: none;
         }
      }
      a.submit, button.submit{
         display: inline-block;
      }
      button.submit{
         padding: 0;
         border: 0;
      }
      input[type="text"]{
         font-family: 'bianco-reg';
         font-size: 2rem;
         color: $primary-darkbrown;
         letter-spacing: 0.6px;
         padding-left: 0;
      }
   }
}

.landing{
   .topics{
      ul{
         li{
            margin-left: 0;
            margin-right: 65px;
         }
      }
   }
}

.img-screen{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 40px;
   right: 40px;
   background-color: $black;
   opacity: 0.5;
   // @media screen and ($bp-smaller-than-tablet){
   //    left: 0;
   //    right: 0;
   //    opacity: 0.5;
   // }
}

.event-grid{
   margin-bottom: 46px;
   .card{
      @media screen and ($bp-smaller-than-tablet){
         margin-bottom: 40px;
      }
      .excerpt{
         p{
            color: $primary-red;
            font-size: 1.6rem;
            line-height: 28px;
            letter-spacing: 0.6px;
         }
      }
   }
}

.filter-bar{
   background-color: $offwhite-1;
   ul{
      li{
         display: inline-block;
         a{
            color: $primary-darkbrown;
         }
      }
   }
}

main.landing{
   .text-grid{
      background-color: $tertiary-background;
   }
}

main.text{
   padding-top: 80px;
   padding-bottom: 50px;
   background-color: $offwhite-bg;
   @media screen and ($bp-smaller-than-tablet){
      padding-left: 20px;
      padding-right: 20px;
   }
}

.text{
   // margin-top:9em;
   // [class*='columns-']:last-of-type{
   //       padding-right:15px;
   //    }
   h1,h2,h3,h4,h5,h6{
      margin-top: 0;
   }
   .headline{
   @include whitney-book();
   font-size: 3.6rem;
   line-height: 1.25;
   letter-spacing: 0.6px;
   color: $nav-brown;
   margin-bottom:2rem;
   }
   .callout{
   @include whitney-bold();
   font-size: 2.6rem;
   line-height: 32px;
   letter-spacing: 0.6px;
   color: $primary-red;
   margin-bottom:2em;
   }

   // .row{
   //    margin-bottom:6em;
   // }

   .col{
      img{
         width:100%;
         height:auto;
      }

      p{
         color:$primary-red;
      }
   }
}

// jqmap css
// Overrides some of the css provided by the map plugin, so start there if you encounter issues

 #vmap svg{
   position: relative;
   z-index:0;
 }
 .jqvmap-pin{
   z-index:9999;
   pointer-events:initial;
   a{
      padding-right:25px;
      background-image:url('img/EMC_MapPin_Landing.png');
      background-repeat:no-repeat;
      background-position:right center;
      background-size:25px;
       @include whitney-bold();
      font-size: 1.6rem;
      line-height: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $primary-orange;
      display:inline-block;
      transition: opacity 0.5s ease-in-out;
      &:hover,
      &:active,
      &:focus{
         background-image:url('img/EMC_MapPin_Hover.png');
         text-decoration:none;
         // color:$offwhite-3;
         opacity: 0.5;
      }
   }
 }

 .jqvmap-region{
   position:relative;
   z-index: -1;
   pointer-events:none;
 }
 .jqvmap-region path{
   position: relative;
   z-index:1;
 }

 //Animations
 @keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    animation-name: fadeIn
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.hide{
   display:none;
}

//Posts
.posts-main{
   // background-color: $offwhite-bg;
   .filter-bar{
      background: transparent;
      text-align: right;
      a,p{
         display: inline-block;
         @include whitney-bold();
         font-size: 1.4rem;
         letter-spacing: 3px;
         text-transform: uppercase;
         margin-left: 10px;
      }
      p.cta{
         color: $primary-lightbrown;
         margin-bottom: 0;
      }
      ul{
         display: inline-block;
         li{
            display: inline-block;
            text-transform: uppercase;
         }
      }
   }
}

a.filter-trigger{
   color: $primary-orange;
   cursor: pointer;
   transition: opacity 0.5s ease-in-out;
   &:hover{
      text-decoration: none;
      opacity: 0.5;
   }
   &.open{
      // opacity: 0.5;
      .down-arrow{
         transform: rotate(-90deg);
      }
   }
}

.post{
   margin-bottom: 110px;
   &:last-of-type{
      margin-bottom: 20px;
   }
   h2.img-override{
      text-align:center;
      font-size:4.8rem;
      font-family: 'bianco-reg';
      letter-spacing: 0.83px;
      line-height: 60px;
      color: $primary-lightbrown;
      margin-bottom: 47px;
      @media screen and ($bp-smaller-than-desktop){
         font-size: 3rem;
         line-height: 40px;
      }
   }
   img{
      width:100%;
      height:auto;
      margin-bottom: 47px;
   }
   span.text svg{
      width:20px;
   }
   .content{
      max-width:60%;
      margin:0 auto;
      text-align:center;
      @media screen and ($bp-smaller-than-tablet){
         max-width: none;
      }
      .listing-display-title{
         @include whitney-bold();
         font-size: 2.6rem;
         color: $primary-orange;
         letter-spacing: 0.9px;
         margin-bottom: 10px;
      }
      p{
         color: $primary-darkbrown;
         font-size: 1.6rem;
         letter-spacing: 0.82px;
         line-height: 21px;
      }
   }
}

.postinfo,.topics{
   font-size: 1.4rem;
   .orange{
      color: $primary-orange;
   }
}

.load_more{
   text-align: center;
   margin-bottom: 40px;
   a{
      @include whitney-bold();
      font-size: 1.4rem;
      color: $primary-orange;
      letter-spacing: 3px;
      transition: opacity 0.5s ease-in-out;
      text-transform: uppercase;
      &::after{
         content: '';
         display: block;
         height: 13px;
         width: 7px;
         margin: 0 auto;
         background-image: url('img/arrow-right.svg');
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         transform: rotate(90deg);
      }
      &:hover{
         text-decoration: none;
         opacity: 0.5;
         ~ .arrow-wrap{
            opacity: 0.5;
         }
      }
   }
   .arrow-wrap{
      text-align: center;
      transition: opacity 0.5s ease-in-out;
      // &::after{
      //    content: '';
      //    display: block;
      //    height: 13px;
      //    width: 7px;
      //    margin: 0 auto;
      //    background-image: url('img/arrow-right.svg');
      //    background-position: center;
      //    background-size: cover;
      //    background-repeat: no-repeat;
      //    transform: rotate(90deg);
      // }
   }
}

svg.down-arrow{
   height: 14px;
   width: auto;
   display: inline-block;
   transform: rotate(90deg);
   transition: transform 0.5s ease-in-out;
}

a[rel="prev"],a[rel="next"]{
   font-size: 1.8rem;
   color: $primary-orange;
   @include whitney-bold();
   letter-spacing: 3px;
   transition: opacity 0.2s ease-in-out;
   text-transform: uppercase;
   &:hover{
      opacity: 0.5;
      text-decoration: none;
   }
   @media screen and ($bp-smaller-than-tablet){
      display: block;
      width: 100%;
      text-align: center;
   }
}

a[rel="prev"]{
   float: left;
   &::before{
      content: '';
      display: inline-block;
      height: 14px;
      width: 9px;
      background-image: url('img/arrow-right.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 6px;
      transform: rotate(180deg);
   }
}
a[rel="next"]{
   float: right;
   &::after{
      content: '';
      display: inline-block;
      height: 14px;
      width: 9px;
      background-image: url('img/arrow-right.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 6px;
   }
   @media screen and ($bp-smaller-than-tablet){
      margin-top: 14px;
   }
}

//Blog page
.blog-single{
   margin-top: 50px;
   margin-bottom: 50px;
   @media screen and ($bp-smaller-than-tablet){
      padding-left: 20px;
      padding-right: 20px;
   }
   h5{
      color: black;
   }
   p{
      color: $h5-brown;
   }
}
