//Global helpers
.has-background{
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

//Homepage styles
.welcome-gate{
   height: 100vh;
   width: 100%;
   position:relative; 
   display:table;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow:hidden;
   //margin-top:115px;
   //padding-top: 220px;

    &.interior{
      height: 564px;
      padding-top: 115px;
      .top-callout{
         color: $offwhite-1;
         font-family: 'whitney-bold';
         font-size: 2rem;
         letter-spacing: 3px;
      }
   }

   .banner-text{
      position:relative;
      z-index:600;
   }
   .welcome-gate-bg{
      position:relative; 
      top:0; 
      bottom:0; 
      width:100%; 
      height:100%; 
      position:absolute; 
      z-index:100; 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position:center center;
   }

   video{
      // position:absolute; 
      // object-fit: cover; 

      // z-index:400; 
      // top:0; 
      // bottom:0; 
      // right:0; 
      // left:0; 
      // width:100%; 
      // height:100vh;

    //   max-width: none;
    // top: 50%;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // position: relative;
    // min-width: 100%;
    // min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 300;
    //height: auto;
    min-height: 100%;
    min-width: 100%;
    //background: black;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
   }

   .pane{
      display:table-cell; 
      width:100%; 
      height:100%; 
      vertical-align:middle;
      position:relative; 
      z-index:500;
         img{
         display: block;
         width: 450px;
         height: auto;
         margin: 0 auto;
         position:relative; 
         z-index:500;
         @media ($bp-smaller-than-mobile){
            width:80%;
         }
      }
   }
   
}
// .welcome-gate{
//    height: calc(100vh - 115px);
//    width: 100%;
//    background-size: cover;
//    background-position: center;
//    background-repeat: no-repeat;
//    padding-top: 30vh;
//    &.interior{
//       height: 564px;
//       padding-top: 55px;
//       .top-callout{
//          color: $offwhite-1;
//          font-family: 'whitney-bold';
//          font-size: 2rem;
//          letter-spacing: 3px;
//       }
//    }
//    img{
//       display: block;
//       width: 450px;
//       height: auto;
//       margin: 0 auto;
//    }
// }

//Panels
.panel{
   padding: 40px 0;
   @media screen and ($bp-smaller-than-largedesktop){
      // padding-left: 40px;
      // padding-right: 40px;
   }
   &.callout{
      background-color: $offwhite-3;
      text-align: center;
      position:relative;
      z-index:500;
       .intro{
         max-width: 933px;
         margin: 0 auto;
         margin-bottom: 20px;
         
         p{
            font-family: 'bianco-reg';
            color: $tertiary-grey;
            font-size: 1.8rem;
            letter-spacing: 0.5px;
            line-height: 30px;
            strong,b{
               font-weight:normal;
               color:$primary-orange
            }
         }
      }
      .intro-callout{
         p{
            font-family: 'whitney-book';
            font-size: 4.8rem;
            line-height: 60px;
            letter-spacing: 0.6px;
            color: $primary-lightbrown;
            strong,b{
               font-weight:normal;
               color:$primary-orange;
            }
         }
      }
      .heading1{
         color: $primary-lightbrown;
      }
      &.interior{
         background-color: $tertiary-background;
         .intro{
            max-width: 1050px;
            p{
            font-size: 2.6rem;
            letter-spacing: 0.6px;
            line-height: 38px;
            color: $primary-red;
            //color:$black;
            strong, b{

            }
            }
         }
         .heading6{
            max-width: 885px;
            margin: 0 auto;
            p{
               font-family: 'whitney-bold';
               font-size: 1.4rem;
               line-height: 30px;
               letter-spacing: 3px;
               text-transform: uppercase;
               color: $primary-orange;
            }
         }
      }
   }
   &.map{
      background-color: $offwhite-3;
      text-align: center;
      .heading6{
         color: $primary-orange;
      }
      img{
         display: block;
         max-width: 1087px;
         height: auto;
         margin: 0 auto;
      }
   }
   &.text-grid{
      background-color: $secondary-pink;
      .container{
         @media ($bp-smaller-than-largedesktop){
            padding:0 40px;
         }
         @media ($bp-smaller-than-mobile){
            padding:0 20px;
         }
      }
      .heading6{
         color: $primary-orange;
      }
      .desc{
         display: inline;
         font-family: 'bianco-reg';
         font-size: 2.8rem;
         color: $nav-brown;
         letter-spacing: 0.82px;
      }
      .grid-item{
         //max-width: 280px;
         //padding:0 2%;
         // margin: 0 auto;
         @media ($bp-larger-than-desktop){
            max-width:280px;
         }
         @media ($bp-smaller-than-largedesktop){
            padding-left:40px;
         }
         @media ($bp-smaller-than-mobile){
            padding-left:20px;
         }
         //width:80%;
         //margin: 0 auto;
         svg{
            display: inline-block;
            height: 18px;
            width: auto;
         }
         a{
            &:hover,
            &:focus,
            &:active{
               text-decoration:none;
               opacity:.5;
            }
         }
      }
   }
   &.feature{
      padding-top: 0;
      // padding-left: 40px;
      // padding-right: 40px;
      position: relative;
      z-index:2;
      &::before{
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         right: 0;
         width: 100%;
         width: 100vw;
         background-color: $secondary-pink;
         height: 100px;
         z-index: -2;
      }

      .container{
         @media ($bp-smaller-than-largedesktop){
            padding:0 40px;
         }
         @media ($bp-smaller-than-mobile){
            padding:0 20px;
         }
         // @media ($bp-larger-than-tablet){
         //    padding:0;
         // }
      }
      .content{
         padding:0 40px;
         @media ($bp-smaller-than-tablet){
            padding:0 20px;
         }
      }
      .feature-image{
         width: 100%;
         height: auto;
         min-height:600px;
         //padding-right: 40px;
         //padding-left: 40px;
      }
      .intro{
         position: absolute;
         top: 150px;
         width:25%;
         @media ($bp-smaller-than-largedesktop){
            padding-left:40px;
            width:33.3333%;
         }
         @media ($bp-smaller-than-tablet){
            width:60%;
         }
         @media ($bp-smaller-than-mobile){
            width:80%;
            padding-left:20px;
         }
         .title{
            font-family: 'whitney-bold';
            text-transform: uppercase;
            line-height: 29px;
            color: $offwhite-1;
         }
         .desc{
            display: inline;
            font-family: 'bianco-reg';
            font-size: 2rem;
            letter-spacing: 0.6px;
            line-height: 32px;
            color: $offwhite-1;
         }
         svg{
            display: inline;
            height: 18px;
            width: auto;
         }
      }
      .feature-image{
         // position: absolute;
         // top: 0;
         // left: 40px;
         // right: 40px;
         // height: auto;
         // z-index: -1;
      }
   }
   &.offset-text{
      background-color: $tertiary-background;
      .heading2{
         //font-family: 'whitney-light';
         //color: $nav-brown;
         p{
            font-family: 'whitney-light';
            font-size: 3.6rem;
            line-height: 48px;
            letter-spacing: 0.6px;
            color: $nav-brown;
         }
      }
      .desc-col{
         p{
            color: $nav-brown;
         }
      }
   }
   &.img-and-wysiwyg{
      background-color: $tertiary-background;
      .textsection{
         h1,h2,h3,h4,h5,h6,p,ul,ol,li{
            color: $primary-red;
            font-family: 'whitney-book';
         }

         h1{
            margin-bottom:2rem; 
         }

         h6{
            text-transform:none;
            strong{
               font-family: 'whitney-bold';
               text-transform:uppercase;
            }
         }
      }
      img{
         width: 100%;
         height: auto;
         margin: 0;
         @media ($bp-smaller-than-tablet){
            margin:2em auto;
         }
      }
   }
   &.half-img-callout{
      background-color: $tertiary-background;
      overflow: hidden;
      img{
         width: 100%;
         height: auto;
      }
      .callout-half{
         color: $primary-orange;
         max-width: 300px;
         position: relative;
         @media ($bp-smaller-than-tablet){
            margin:2em auto;
            padding-bottom:4em;
         }
         a{
            text-decoration: none;
            display: inline;
            transition: opacity 0.2s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
         }
         img{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            height: 340px;
            // width: auto;
            @media ($bp-smaller-than-tablet){
               // position:relative;
               // margin:0 auto;
               top:2em;
            }
         }
      }
      .desc{
         z-index: 1;
         position: relative;
         font-family: 'whitney-bold';
         letter-spacing: 0.6px;
         line-height: 40px;
         font-size: 3.6rem;
         color: $primary-orange;
      }
      .cta{
         z-index: 1;
         position:relative;
         p{
            display: inline;
            font-family: 'whitney-bold';
            color: $primary-orange;
            font-size: 1.4rem;
            letter-spacing: 3px;
            text-transform: uppercase;
         }
         svg{
            display: inline;
            height: 16px;
            width: auto;
         }
      }
   }
   &.story{
      background-color: $offwhite-1;
      img{
         width: 100%;
         height: auto;
         margin-bottom: 10px;
      }
      .caption{
         color: $nav-brown;
         font-family: 'whitney-book';
         font-size: 2.4rem;
         letter-spacing: 1.23px;
         line-height: 34px;
      }
      .wysiwyg-section{
         padding-left: 37px;
      }
   }
   &.statistic{
      background-color: $tertiary-background;
      position: relative;
      .stats{
         position: absolute;
         top: 132px;
      }
      .stat-visual{
         width: 100%;
         // padding-top: 40px;
         padding-left: 40px;
         padding-right: 40px;
      }
   }
   &.photo-essay{
      background-color: $tertiary-background;
      .text-section{
         padding-right: 37px;
         .desc{
            color: $primary-red;
         }
      }
      .thumbnails{
         margin-top: 10px;
         img{
            width: 100%;
            height: auto;
         }
      }
      .img-section{
         .feature{
            width: 100%;
            height: auto;
         }
      }
   }
   &.icon-grid{
      background-color: $tertiary-background;
      .card{
         overflow: hidden;
         @media($bp-smaller-than-tablet){
            text-align:center;
         }
      }
      .card-icon{
         height: 215px;
         width: auto;
      }
      .divider{
         width: 34px;
         height: 10px;
         background-color: $primary-orange;
         margin: 14px 0;
      }
      .caption{
         p{
            font-family: 'whitney-book';
            font-size: 2rem;
            letter-spacing: 0.6px;
            line-height: 26px;
            width:60%;
         }
      }
   }
   &.half-cta{
      [class*='columns-']:last-of-type{
         padding-right:15px;
      }
      .cta{
         a{
            transition: opacity 0.2s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.5;
            }
            p{
               font-family: 'whitney-bold';
               font-size: 3.6rem;
               letter-spacing: 0.6px;
               line-height: 48px;
               color: $primary-pink;
               display: inline;
               color: $primary-pink;
            }
            svg{
               display: inline;
               height: 14px;
               width: auto;
            }
         }
      }
   }
}

main.landing{
   .text-grid{
      background-color: $tertiary-background;
   }
}

.text{
   margin-top:9em;
   [class*='columns-']:last-of-type{
         padding-right:15px;
      }
   .headline{
   font-family: 'whitney-book';
   font-size: 3.6rem;
   line-height: 1.25;
   letter-spacing: 0.6px;
   color: $nav-brown;
   margin-bottom:2rem;
   }
   .callout{
      font-family: 'whitney-book';
   font-size: 2.6rem;
   line-height: 32px;
   letter-spacing: 0.6px;
   color: $primary-red;
   margin-bottom:2em;
   }
   
   .row{
      margin-bottom:6em;
   }

   .col{
      img{
         width:100%;
         height:auto;
      }
      
      p{
         color:$primary-red;
      }
   }
}

// jqmap css
// Overrides some of the css provided by the map plugin, so start there if you encounter issues

 #vmap svg{
   position: relative;
   z-index:0;
 }
 .jqvmap-pin{
   z-index:9999;
   pointer-events:initial;
   a{
      padding-right:25px;
      background-image:url('img/EMC_MapPin_Landing.png');
      background-repeat:no-repeat;
      background-position:right center;
      background-size:25px;
       font-family: 'whitney-bold';
      font-size: 1.6rem;
      line-height: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $primary-orange;
      display:inline-block;

      &:hover,
      &:active,
      &:focus{
         background-image:url('img/EMC_MapPin_Hover.png');
         text-decoration:none;
         color:$offwhite-3;
      }
   }
 }

 .jqvmap-region{
   position:relative;
   z-index: -1;
   pointer-events:none;
 }
 .jqvmap-region path{
   position: relative;
   z-index:1;
 }
